<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>All Users Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    /* Custom styles for centering content */
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
    .back-button {
      margin-top: 20px;
    }
  </style>
</head>
<body>

<div class="container">
    <h2 class="text-center">All Users</h2>
    <table class="table_user">
        <thead>
            <tr>
                <th scope="col">USER ID</th>
                <th scope="col">USERNAME</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                </tr>   
            {% endfor %}
        </tbody>
    </table>

    <div class="col-12 text-center back-button">
        <a class="btn btn-dark" href="{{ url_for('home') }}">Back to Home</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
